## Intellij
.idea/
*.iml
*.iws

## Java
*.class
*.war
*.ear


## Gradle
gradle/wrapper/
gradlew
gradlew.bat
settings.gradle
/local.properties
.gradle/
gradle-app.setting/build/
/android/build/
/core/build/
/desktop/build/
/html/build/
/ios/build/
/ios-moe/build/