/* Стили для страниц авторизации и регистрации (templates) */
.signForm {
    padding-top: 30px;
}

.form-element {
    margin-bottom: 25px;
}
.error-msg {
    color: #721c24;
}

/* Стиль для таблиц компонентов SchedulesTable, ServicesTable, SpecialistsTable*/
.customTable {
    width: 100%;
    table-layout: fixed;
    margin: 30px 0 50px 0;
}

.customTable thead th, .customTable td {
    vertical-align: middle;
}

.button-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#inputServiceName,
#inputSpecialistName {
    width: 70%;
}