<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
    <head>
        <meta charset="utf-8">
        <title>Регистрация</title>
        <link rel="stylesheet"
              href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
              integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
              crossorigin="anonymous">
        <link href="../static/css/index.css" th:href="@{/css/index.css}" rel="stylesheet" />
    </head>
    <body>
        <div class="container">

            <h2>Регистрация</h2>

            <form action="/registration" th:object="${user}" method="POST" enctype="utf8" class="signForm">

                <div class="form-group">
                    <div class="col-xs-15">
                        <div th:if="${usernameExistsError != null}">
                            <div class="alert alert-danger col-xs-offset-1 col-xs-10"
                                 th:text="${usernameExistsError}">Уже существует пользователь с именем учетной записи:
                            </div>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-xs-15">
                        <div th:if="${userRegistered != null}">
                            <div class="alert alert-success col-xs-offset-1 col-xs-10"
                                 th:text="${userRegistered}">Пользователь успешно зарегистрирован
                            </div>
                            <a class="btn btn-primary" href="/" role="button">Авторизоваться</a>
                        </div>
                    </div>
                </div>

                <div>
                    <div class="form-element" >
                        <input type="text" th:field="*{username}" placeholder="Логин" class="col-lg-3"/>
                        <p class="error-msg" th:each="error: ${#fields.errors('username')}"
                           th:text="${error}">Validation error</p>
                    </div>
                    <div class="form-element">
                        <input type="password" th:field="*{password}" placeholder="Пароль" class="col-lg-3"/>
                        <p class="error-msg" th:each="error: ${#fields.errors('password')}"
                           th:text="${error}">Validation error</p>
                    </div>
                    <div class="form-element">
                        <input type="password" th:field="*{matchingPassword}" placeholder="Подтверждение пароля" class="col-lg-3"/>
                        <p class="error-msg" th:each="error: ${#fields.errors('matchingPassword')}"
                           th:text="${error}">Validation error</p>
                    </div>
                    <div class="form-element">
                        <input type="text" th:field="*{firstName}" placeholder="Имя" class="col-lg-3"/>
                        <p class="error-msg" th:each="error: ${#fields.errors('firstName')}"
                           th:text="${error}">Validation error</p>
                    </div>
                    <div class="form-element">
                        <input type="text" th:field="*{lastName}" placeholder="Фамилия" class="col-lg-3"/>
                        <p class="error-msg" th:each="error : ${#fields.errors('lastName')}"
                           th:text="${error}">Validation error</p>
                    </div>
                    <div class="form-element">
                        <input type="email" th:field="*{email}" placeholder="Email" class="col-lg-3"/>
                        <p class="error-msg" th:each="error : ${#fields.errors('email')}"
                           th:text="${error}">Validation error</p>
                    </div>
                    <div class="form-element">
                        <input type="text" th:field="*{phoneNumber}" placeholder="Номер телефона" class="col-lg-3"/>
                        <p class="error-msg" th:each="error : ${#fields.errors('phoneNumber')}"
                           th:text="${error}">Validation error</p>
                    </div>

                    <button type="submit" class="btn btn-primary col-lg-3">Зарегистрироваться</button>
                </div>
            </form>
        </div>
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    </body>
</html>